<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="row">
            <div class="col-md-6 left">
              <!-- <div class="left-text">
                <h3>Get Started</h3>
                <br>
                <button class="btn btn-lg btn-block btn-outline-light">Sign In with Google</button>
                <button class="btn btn-lg btn-block btn-outline-light">Sign In with Facebook</button>
              </div> -->
            </div>
            <div class="col-md-6  right">
              <div class="header">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light disabled">Log In</button>
                  <button type="button" class="btn btn-primary" [routerLink]="['register']">Register</button>
                </div>
              </div>
              <div class="form-div">
                <h3>Login</h3>
                <br>
                <form action="">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                    </div>
                    <input type="email" class="form-control" id="inlineFormInputGroup"
                      placeholder="Enter your E-mail">
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-unlock" aria-hidden="true"></i></div>
                    </div>
                    <input type="password" class="form-control" id="inlineFormInputGroup"
                      placeholder="Enter your Password">
                  </div>
                  <button class="btn btn-primary btn-lg btn-block btn-round">Sign In</button>
                </form>
                <div class="forgot">
                  <a class="btn btn-link btn-danger" href="">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
